/* Styling for the nav elements*/
nav {
  position: fixed;
  top: 0;
  left :0;
  right: 0;
  display: flex;
  justify-content:space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

nav span{
  font-family:'Bungee', sans-serif;
}
