/* Styling for the nav elements*/
nav{
  position: fixed;
  top: 0;
  left :0;
  right: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #3a3aadd0;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 1000;

}

.angled-arrow {
  color: red;
  font-size: 40px;
}

nav span{
  font-family:'Bungee', sans-serif;
  font-size: 40px;
}

.new-tweet-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 30px;
}